# Secrets more info in documentation
DJANGO_SECRET=
X_AUTH_HEADER=

# URL for the BE API requests must start with protocol http:// or https://
SERVICE_BASE_URL=

# Smtp settings
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_USE_TLS=

###### Domains ######
# ! This two must be without protocol
# localhost for homeserver can be used

# Domain name for the fork.recipes application
# ! subdomain should be used as api.host.
DOMAIN_NAME_NGINX=

# Domain name for the forkapi be application
DOMAIN_NAME_NGINX_API=

# Pagination for the recipe search endpoints
PAGINATION_PAGE_SIZE=

# Host address for the frontend to access media with protocol eg. https:.. (minimum two) with separated by comma
CORS_ALLOWED_HOSTS=https://localhost,http://localhost

# Scrape functionality make sure to add '' for the API KEY
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
# Voice is one of alloy, ash, ballad, coral, echo, fable, onyx, nova, sage, shimmer
OPEN_AI_TTS_MODEL_VOICE=coral
