# Logs
logs
*.log
*.local

# Editor directories and files
.idea
.DS_Store


# created by virtualenv automatically
.venv/*
.idea/*
.env
media/*
forkapi/sql/db.sqlite3
forkapi/authentication/migrations/*
forkapi/recipe/migrations/*
__pycache__
forkapi/static/*
forkapi/media/*
fullchain.pem
privkey.pem
.tox
db.sqlite3
recipes/migrations/
static
