{% extends 'recipes/base.html' %}
{% block title %}{{ recipe.name }} - Fork Recipes{% endblock %}
{% block header %}{{ recipe.name }}{% endblock %}

{% block content %}
<div class="bg-white rounded-xl overflow-hidden max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative h-96">
        {% if recipe.video %}
        <video class="absolute inset-0 w-full h-full object-cover" controls>
            <source src="{{ recipe.video }}" type="video/mp4">
        </video>
        {% else %}
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="absolute inset-0 w-full h-full object-cover">
        <div class="absolute inset-0 bg-gradient-to-t from-black/30 to-transparent"></div>
        {% endif %}

        <div class="absolute top-4 right-4 flex gap-2 z-10">
            <button onclick="toggleFavorite(this, {{ recipe.pk }})"
                    class="bg-white/90 p-2 rounded-full text-gray-600 hover:text-mint-700 transition-colors">
                {% if recipe.is_favorite %}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-mint-500" viewBox="0 0 24 24"
                     stroke="currentColor" fill="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                </svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                </svg>
                {% endif %}
            </button>
            <button type="button"
                    class="flex items-center bg-white/90 p-2 rounded-md text-gray-700 hover:text-mint-500 hover:bg-gray-100 transition-all"
                    aria-expanded="false" id="dropdownButton"
                    onclick="document.getElementById('plan-modal').classList.remove('hidden')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="h-6 w-6 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"/>
                </svg>
                <span>Add to plan</span>
            </button>
            <div class="relative">
                <button id="toggleDropdown"
                        class="bg-white/90 p-2 rounded-md text-gray-700 hover:text-mint-500 hover:bg-gray-100 transition-all">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"/>
                    </svg>
                </button>
                <ul id="dropdownMenu"
                    class="absolute right-0 mt-2 w-40 bg-white border border-gray-300 rounded-md shadow-lg hidden">
                    <li>
                        <a href="/recipe/{{ recipe.pk }}/edit/"
                           class="flex justify-between items-center text-gray-700 hover:bg-gray-100 px-4 py-2 rounded-md whitespace-nowrap">
                            Edit recipe
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                            </svg>

                        </a>
                    </li>
                    <li>
                        <a id="add-to-shopping-btn"
                           href="#"
                           class="flex justify-between items-center text-gray-700 hover:bg-gray-100 px-4 py-2 rounded-md whitespace-nowrap"
                           onclick="document.getElementById('list-modal').classList.remove('hidden')">
                            Add to List
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-700"
                                 fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <iframe id="html-frame" src="{% url 'recipes:print_recipe'  recipe.pk %}"
                                style="width: 100%; height: 600px;display: none;"></iframe>
                        <a id="print-btn"
                           href="#"
                           class="flex justify-between items-center text-gray-700 hover:bg-gray-100 px-4 py-2 rounded-md whitespace-nowrap">
                            Print
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0 1 10.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0 .229 2.523a1.125 1.125 0 0 1-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0 0 21 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 0 0-1.913-.247M6.34 18H5.25A2.25 2.25 0 0 1 3 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 0 1 1.913-.247m10.5 0a48.536 48.536 0 0 0-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5Zm-3 0h.008v.008H15V10.5Z"/>
                            </svg>
                        </a>
                    </li>
                    {% if not recipe.audio_instructions %}
                    <li>
                        <a href="/recipe/{{ recipe.pk }}/audio/" onclick="toggleAudio()"
                           class="flex justify-between items-center text-gray-700 hover:bg-gray-100 px-4 py-2 rounded-md whitespace-nowrap"
                        >
                            Make Audio
                            <svg id="audio-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M19.114 5.636a9 9 0 0 1 0 12.728M16.463 8.288a5.25 5.25 0 0 1 0 7.424M6.75 8.25l4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z"/>
                            </svg>
                            <svg id="audio-spinner" class="hidden h-5 w-5 ml-2 text-mint-500 animate-spin"
                                 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="50" cy="50" r="45" stroke="currentColor" stroke-width="10"
                                        stroke-dasharray="150 50" stroke-linecap="round"/>
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="/recipe/{{ recipe.pk }}/translate/" onclick="toggleTranslation()"
                           class="flex justify-between items-center text-gray-700 hover:bg-gray-100 px-4 py-2 rounded-md whitespace-nowrap">
                            Translate
                            <svg id="language-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="m10.5 21 5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 0 1 6-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 0 1-3.827-5.802"/>
                            </svg>

                            <svg id="translation-spinner" class="hidden h-5 w-5 ml-2 text-mint-500 animate-spin"
                                 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="50" cy="50" r="45" stroke="currentColor" stroke-width="10"
                                        stroke-dasharray="150 50" stroke-linecap="round"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {% if not recipe.video %}
        <div class="absolute bottom-4 right-4">
            <span class="px-3 py-1 bg-white/90 rounded-full text-sm font-medium text-gray-800">
                {{ recipe.difficulty }}
            </span>
        </div>
        {% endif %}
    </div>

    <div class="p-6 pt-24 sm:pt-6">
        <div class="flex flex-col sm:flex-row items-start sm:items-center gap-6 mb-6">
            {% if recipe.total_time %}
            <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="12 6 12 12 16 14"></polyline>
                </svg>
                <span>{{ recipe.total_time }} hrs</span>
            </div>
            {% endif %}
            <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="9" cy="7" r="4"></circle>
                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <span>{{ recipe.servings }} servings</span>
            </div>
            {% if recipe.chef %}
            <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
                    <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
                    <line x1="6" y1="1" x2="6" y2="4"></line>
                    <line x1="10" y1="1" x2="10" y2="4"></line>
                    <line x1="14" y1="1" x2="14" y2="4"></line>
                </svg>
                <span>By {{ recipe.chef }}</span>
            </div>
            {% endif %}
        </div>
        {% if recipe.reference %}
        <div class="flex items-center gap-6 mb-6">
            <a href="{{ recipe.reference }}" target="_blank" class="inline-flex items-center text-current">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6 text-gray-500">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"/>
                </svg>
                &nbsp;{{ recipe.reference }}
            </a>
        </div>
        {% endif %}

        <div class="space-y-6">
            {% if recipe_variations %}
            <div>
                <h3 class="text-lg font-semibold mb-2">Translations</h3>
                {% for recipe_variation in recipe_variations %}
                <a href="{% url 'recipes:recipe_detail' recipe_variation.pk %}"
                   class="px-3 py-1 bg-gray-100 rounded-full text-sm font-medium
       {% if recipe.pk == recipe_variation.pk %} text-mint-600 {% else %} text-gray-800 {% endif %}">
                    {{ recipe_variation.language }}
                </a>
                {% endfor %}
            </div>
            {% endif %}
            {% if recipe.audio_instructions %}
            <div>
                <h3 class="text-lg font-semibold mb-2">Play audio</h3>
                <media-controller
                        audio
                        class="@container block"
                        style="
        --media-background-color: transparent;
        --media-control-background: transparent;
        --media-control-hover-background: transparent;
      "
                >
                    <audio
                            slot="media"
                            src="{{ recipe.audio_instructions.file }}"

                    ></audio>

                    <media-time-range
                            class="block @md:hidden w-full h-2 min-h-0 p-0 bg-slate-50 focus-visible:ring-mint-600 focus-visible:ring-2"
                            style="
          --media-range-track-background: transparent;
          --media-time-range-buffered-color: rgb(0 0 0 / 0.02);
          --media-range-bar-color: rgb(77 184 141);
          --media-range-track-height: 0.5rem;
          --media-range-thumb-background: rgb(77 184 141);
          --media-range-thumb-box-shadow: 0 0 0 2px rgb(255 255 255 / 0.9);
          --media-range-thumb-width: 0.25rem;
          --media-range-thumb-height: 1rem;
          --media-preview-time-text-shadow: transparent;
        "
                    >
                        <media-preview-time-display
                                slot="preview"
                                class="text-mint-600 text-xs"
                        ></media-preview-time-display>
                    </media-time-range>

                    <media-control-bar
                            class="w-full h-20 @md:h-16 px-4 bg-white items-center justify-between @md:rounded-md border  shadow-xl shadow-black/5"
                    >
                        <media-play-button
                                class="h-10 w-10 mx-3 rounded-full bg-mint-600 hover:bg-mint-700 transition-colors">
                            <button slot="play" class="w-full h-full flex items-center justify-center text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"
                                     fill="currentColor">
                                    <path d="M8 5v14l11-7z"/>
                                </svg>
                            </button>
                            <button slot="pause" class="w-full h-full flex items-center justify-center text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"
                                     fill="currentColor">
                                    <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/>
                                </svg>
                            </button>
                        </media-play-button>
                        <div
                                class="hidden @md:block h-full border-l  mx-4"
                        ></div>
                        <media-time-display
                                class="order-last @md:order-none text-gray-900 text-sm"
                        ></media-time-display>
                        <media-time-range
                                class="hidden @md:block h-2 min-h-0 p-0 m-2 rounded-md bg-slate-50"
                                style="
            --media-range-track-background: transparent;
            --media-time-range-buffered-color: rgb(0 0 0 / 0.02);
            --media-range-bar-color: rgb(77 184 141);
            --media-range-track-border-radius: 4px;
            --media-range-track-height: 0.5rem;
            --media-range-thumb-background: rgb(77 184 141);
            --media-range-thumb-box-shadow: 0 0 0 2px rgb(255 255 255 / 0.9);
            --media-range-thumb-width: 0.25rem;
            --media-range-thumb-height: 1rem;
            --media-preview-time-text-shadow: transparent;
          "
                        >
                            <media-preview-time-display
                                    slot="preview"
                                    class="text-mint-600 text-xs"
                            ></media-preview-time-display>
                        </media-time-range>

                        <media-duration-display
                                class="hidden @md:block text-gray-900 text-sm"
                        ></media-duration-display>
                        <!-- stroke-mint-700 for color of the button -->
                        <media-mute-button class="order-first @md:order-none">
                            <button type="button" class="transition-colors text-mint-600">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " viewBox="0 0 24 24"
                                     fill="none">
                                    <path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/>
                                </svg>
                            </button>
                        </media-mute-button>

                    </media-control-bar>
                </media-controller>
            </div>
            {% endif %}
            {% if recipe.description %}
            <div>
                <h3 class="text-lg font-semibold mb-2">Description</h3>
                <p class="text-gray-600">{{ recipe.description }}</p>
            </div>
            {% endif %}
            {% if category %}
            <div>
                <h3 class="text-lg font-semibold mb-2">Category</h3>
                <span class="px-3 py-1 bg-gray-100 rounded-full text-sm font-medium text-gray-800">
                    {{ category.name }}
                </span>
            </div>
            {% endif %}
            <div>
                <div class="flex items-center gap-2 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-mint-500" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2">
                        <line x1="8" y1="6" x2="21" y2="6"></line>
                        <line x1="8" y1="12" x2="21" y2="12"></line>
                        <line x1="8" y1="18" x2="21" y2="18"></line>
                        <line x1="3" y1="6" x2="3.01" y2="6"></line>
                        <line x1="3" y1="12" x2="3.01" y2="12"></line>
                        <line x1="3" y1="18" x2="3.01" y2="18"></line>
                    </svg>
                    <h3 class="text-lg font-semibold">Ingredients</h3>
                </div>
                <ul class="list-disc list-inside space-y-2 text-gray-600">
                    {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient.quantity }} {{ ingredient.metric }} {{ ingredient.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <div class="flex items-center gap-2 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-mint-500" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2">
                        <line x1="4" y1="9" x2="20" y2="9"></line>
                        <line x1="4" y1="15" x2="20" y2="15"></line>
                        <line x1="10" y1="3" x2="8" y2="21"></line>
                        <line x1="16" y1="3" x2="14" y2="21"></line>
                    </svg>
                    <h3 class="text-lg font-semibold">Instructions</h3>
                </div>
                <ol class="list-decimal list-inside space-y-2 text-gray-600">
                    {% for step in recipe.steps %}
                    <li>{{ step.text }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
<div id="plan-modal" class="relative z-10 hidden z-50" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <!-- Background backdrop -->
    <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

    <div class="fixed inset-0 z-10 flex items-center justify-center p-4 overflow-y-auto">
        <!-- Modal panel -->
        <div class="relative w-full max-w-md transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8">
            <form action="{% url 'schedule:create_schedule' %}" method="POST" class="space-y-6">
                {% csrf_token %}
                <input type="hidden" name="recipe_id" value="{{ recipe.pk }}">
                <div class="bg-white px-6 py-5 sm:px-8">
                    <div class="sm:flex sm:items-start sm:justify-center">
                        <!-- Icon container with updated background and rounded style -->
                        <div class="mx-auto flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-white/90 p-2">
                            <!-- Mint-colored icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="h-6 w-6 text-mint-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"/>
                            </svg>
                        </div>
                        <div class="mt-3 sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="block text-lg font-medium text-gray-800" id="modal-title">Select Meal and
                                Date</h3>
                            <p class="mt-2 text-sm text-gray-600">Choose a meal type and date for your meal planning.
                                This information will help us organize your preferences.</p>
                        </div>
                    </div>
                    <div class="mt-6 space-y-4">
                        <div>
                            <label for="meal-type" class="block text-lg font-medium text-gray-800">Meal Type</label>
                            <select id="meal-type" name="meal_type"
                                    class="bg-white mt-2 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                                <option value="Breakfast">Breakfast</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Dinner">Dinner</option>
                                <option value="Side">Side</option>
                            </select>
                        </div>

                        <div>
                            <label for="date" class="block text-lg font-medium text-gray-80">Date</label>
                            <input type="date" id="date" name="date"
                                   class="bg-white mt-2 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-6 py-4">
                    <!-- Submit Button -->
                    <button type="submit"
                            class="mb-4 w-full rounded-md bg-mint-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-mint-700 focus:ring-2 focus:ring-mint-500 focus:ring-offset-2">
                        Submit
                    </button>
                    <!-- Cancel Button -->
                    <button type="button" onclick="document.getElementById('plan-modal').classList.add('hidden')"
                            class="w-full rounded-md bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-200 focus:ring-2 focus:ring-gray-300 focus:ring-offset-2">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="list-modal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-lg max-w-sm mx-auto">
        <h3 class="text-lg font-medium text-gray-900 mb-4">Select an Option</h3>
        <p class="text-sm text-gray-500 mb-4">Please choose an shopping list from the dropdown and confirm your
            choice.</p>
        <form action="{% url 'shopping:add_recipe_to_list' recipe_pk=recipe.pk %}" method="POST">
            {% csrf_token %}
            <select id="selected-option" class="w-full p-2 border rounded-md mb-4" name="list_pk">
                <option value="" disabled selected>Select an option</option>
                {% for shopping_list in shopping_lists %}
                <option value="{{ shopping_list.pk }}">{{ shopping_list.name }}</option>
                {% endfor %}
            </select>
            <div class="flex space-x-4">
                <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-mint-600 hover:bg-mint-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-mint-500">
                    Confirm
                </button>
                <button type="button" onclick="document.getElementById('list-modal').classList.add('hidden')"
                        class="w-full rounded-md bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-200 focus:ring-2 focus:ring-gray-300 focus:ring-offset-2">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    async function toggleFavorite(button, recipeId) {
        const svg = button.querySelector('svg');
        const isFavorited = svg.classList.contains('text-mint-500');

        // Toggle UI state immediately for responsiveness
        svg.classList.toggle('text-mint-500');
        svg.setAttribute('fill', isFavorited ? 'none' : 'currentColor');

        // Send the request to the server
        try {
            const response = await fetch(`/toggle-favorite/${recipeId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'), // Django-specific CSRF token
                },
                body: JSON.stringify({ is_favorite: !isFavorited }),
            });

            if (!response.ok) {
                throw new Error('Failed to update favorite status.');
            }
        } catch (error) {
            // Revert UI state if the request fails
            svg.classList.toggle('text-gray-600');
            svg.classList.toggle('text-mint-500');
            svg.setAttribute('fill', isFavorited ? 'currentColor' : 'none');
            console.error(error.message);
        }
    }

    // Utility function to retrieve CSRF token (Django-specific)
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Ensure video is centered and displayed at full size in fullscreen mode on mobile devices
    document.querySelectorAll('video').forEach(video => {
        const container = video.parentElement;
        container.style.backgroundColor = 'black';
        video.addEventListener('fullscreenchange', () => {
            if (document.fullscreenElement) {
                video.style.objectFit = 'contain';
            } else {
                video.style.objectFit = 'cover';
            }
        });
        window.addEventListener('resize', () => {
        if (window.innerWidth <= 768) {
            video.style.objectFit = 'contain';  // Adjust for smaller screen sizes
        } else {
            video.style.objectFit = 'cover';    // Default for larger screens
        }
    });

    // Initial setup for objectFit based on window size
    if (window.innerWidth <= 768) {
        video.style.objectFit = 'contain';  // For small screens
    } else {
        video.style.objectFit = 'cover';    // For larger screens
    }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dateInput = document.getElementById("date");
        const today = new Date();
        const oneWeekAgo = new Date();
        oneWeekAgo.setDate(today.getDate() - 7);
        const formatDate = (date) => date.toISOString().split("T")[0];

        dateInput.min = formatDate(oneWeekAgo);
    });
</script>
<script>
    document.getElementById('toggleDropdown').addEventListener('click', function() {
        document.getElementById('dropdownMenu').classList.toggle('hidden');
    });

    document.addEventListener('click', function(event) {
        const dropdown = document.getElementById('dropdownMenu');
        const button = document.getElementById('toggleDropdown');
        if (!button.contains(event.target) && !dropdown.contains(event.target)) {
            dropdown.classList.add('hidden');
        }
    });
</script>
<script>
    function toggleTranslation() {
        document.getElementById('language-svg').classList.add('hidden');
        document.getElementById('translation-spinner').classList.remove('hidden');
    }
</script>
<script>
    function toggleAudio() {
        document.getElementById('audio-svg').classList.add('hidden');
        document.getElementById('audio-spinner').classList.remove('hidden');
    }
</script>

<script>
    document.getElementById('print-btn').addEventListener('click', function() {
        const iframe = document.getElementById('html-frame');
        iframe.contentWindow.print();
    });
</script>
<script
        type="module"
        src="https://cdn.jsdelivr.net/npm/media-chrome@3/+esm"
></script>

{% if messages %}
<div class="fixed bottom-4 right-4">
    {% for message in messages %}
    <div class="bg-white shadow-lg rounded-lg px-4 py-3 {% if message.tags %}{{ message.tags }}{% endif %} mb-2">
        <p class="text-sm">{{ message }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
<style>
    media-controller {
        --media-control-background: transparent !important;
        --media-control-hover-background: transparent !important;
    }
    
    media-controller button {
        opacity: 1 !important;
    }
    
    /* Fix initial button state */
    media-play-button[media-paused] button[slot="pause"],
    media-play-button:not([media-paused]) button[slot="play"] {
        display: none;
    }
</style>