{% extends 'recipes/base.html' %}

{% block title %}Create Recipe - Culinary Delights{% endblock %}

{% block header %}Create New Recipe{% endblock %}

{% block content %}
<div class="max-w-5xl mx-auto py-8">
    <form method="POST" enctype="multipart/form-data" class="bg-white shadow-xl rounded-lg overflow-hidden">
        {% csrf_token %}
        <div class="p-8 space-y-8">
            <!-- Title Section -->
            {% if message %}
            <p class="text-[#DC3545]">{{ message }}</p>
            {% endif %}
            <div>
                <label for="title" class="block text-lg font-medium text-gray-800">Recipe Name</label>
                <input type="text" name="name" id="title" required
                       class="mt-2 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm"
                       placeholder="Enter the recipe name">
            </div>

            <!-- Recipe Details -->
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
                <div>
                    <label for="category" class="block text-lg font-medium text-gray-800">Category</label>
                    <select name="category" id="category" required
                            class="bg-white mt-2 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                        <option value="" disabled selected>Select a category</option>
                        {% for category in categories %}
                        <option value="{{ category.pk }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" id="category-input" name="new_category" placeholder="Type to add a new category"
                           class="bg-white mt-2 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm"
                    >
                    <div>
                    </div>
                </div>

                <div>
                    <label for="difficulty" class="block text-lg font-medium text-gray-800">Difficulty</label>
                    <select name="difficulty" id="difficulty" required
                            class="mt-2 w-full bg-white rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                        <option value="" disabled selected>Select difficulty</option>
                        {% for difficulty in difficulties %}
                        <option value="{{ difficulty }}">{{ difficulty }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="prep-time" class="block text-lg font-medium text-gray-800">Prep Time</label>
                    <input type="number" name="prep_time" id="prep-time" required placeholder="e.g., 45 minutes"
                           class="mt-2 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                </div>
                <div>
                    <label for="cook-time" class="block text-lg font-medium text-gray-800">Cooking Time</label>
                    <input type="number" name="cook_time" id="cook-time" required placeholder="e.g., 45 minutes"
                           class="mt-2 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                </div>

                <div>
                    <label for="servings" class="block text-lg font-medium text-gray-800">Servings</label>
                    <input type="number" name="servings" id="servings" required min="1" placeholder="e.g., 4"
                           class="mt-2 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                </div>
                <div>
                    <label for="chef" class="block text-lg font-medium text-gray-800">Recipe Chef (optional)</label>
                    <input type="text" name="chef" id="chef"
                           class="mt-2 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm"
                           placeholder="Enter the recipe chef">
                </div>
            </div>

            <!-- Description -->
            <div>
                <label for="description" class="block text-lg font-medium text-gray-800">Description</label>
                <textarea name="description" id="description" rows="4" required
                          class="mt-2 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm"
                          placeholder="Describe the recipe..."></textarea>
            </div>

            <!-- Media Upload -->
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
                <div>
                    <label for="image" class="block text-lg font-medium text-gray-800">Recipe Image</label>
                    <div
                            class="mt-2 flex items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 p-4">
                        <input type="file" id="image" name="image" accept="image/*" required
                               class="sr-only"/>
                        <label for="image"
                               class="cursor-pointer text-mint-600 hover:text-mint-500 text-sm font-medium flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3 16l3.293-3.293a1 1 0 011.414 0L12 17l2.293-2.293a1 1 0 011.414 0L21 16M5 13V7a2 2 0 012-2h10a2 2 0 012 2v6m-9 4v2m0 0h4m-4 0H8"/>
                            </svg>
                            Upload an image
                        </label>
                    </div>
                </div>

                <div>
                    <label for="video" class="block text-lg font-medium text-gray-800">Recipe Video (optional)</label>
                    <div
                            class="mt-2 flex items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 p-4">
                        <input type="file" id="video" name="video" accept="video/*" class="sr-only"/>
                        <label for="video"
                               class="cursor-pointer text-mint-600 hover:text-mint-500 text-sm font-medium flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                            </svg>
                            Upload a video
                        </label>
                    </div>
                </div>
            </div>

            <!-- Ingredients Section -->
            <div>
                <div class="flex items-center justify-between">
                    <label class="block text-lg font-medium text-gray-800">Ingredients</label>
                    <button type="button" onclick="addIngredient()"
                            class="bg-mint-100 text-mint-700 px-3 py-1 rounded-md hover:bg-mint-200 text-sm font-medium">
                        + Add Ingredient
                    </button>
                </div>
                <div id="ingredients-container" class="space-y-3 mt-4 ">
                    <div class="flex flex-wrap gap-2 items-center border-double border-4">
                        <input type="text" name="ingredient_name[]" required placeholder="Ingredient name (e.g., Flour)"
                               class="flex-1 rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                        <input type="text" name="ingredient_quantity[]" required placeholder="Quantity (e.g., 2)"
                               class="flex-1 rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                        <input type="text" name="ingredient_metric[]" required placeholder="Metric (e.g., cups)"
                               class="flex-1 rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                        <button type="button" class="text-red-500 px-4 py-2 hover:text-red-700 ml-2"
                                onclick="this.parentElement.remove()">
                            &times;
                        </button>
                    </div>
                </div>
            </div>


            <!-- Instructions Section -->
            <div>
                <div class="flex items-center justify-between">
                    <label class="block text-lg font-medium text-gray-800">Instructions</label>
                    <button type="button" onclick="addInstruction()"
                            class="bg-mint-100 text-mint-700 px-3 py-1 rounded-md hover:bg-mint-200 text-sm font-medium">
                        + Add Step
                    </button>
                </div>
                <div id="instructions-container" class="space-y-3 mt-4">
                    <div class="flex items-center gap-2">
                        <span
                                class="bg-mint-100 text-mint-700 w-8 h-8 rounded-full flex items-center justify-center font-medium">1</span>
                        <input type="text" name="instructions[]" required placeholder="e.g., Preheat oven to 350°F"
                               class="flex-1 rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
                        <button type="button" class="text-red-500 hover:text-red-700"
                                onclick="this.parentElement.remove()">
                            &times;
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit Section -->
        <div class="bg-gray-50 px-8 py-4 flex justify-end gap-4">
            <a href=""
               class="bg-gray-200 text-gray-700 px-5 py-2 rounded-md hover:bg-gray-300 font-medium">Cancel</a>
            <button type="submit"
                    class="bg-mint-600 text-white px-5 py-2 rounded-md hover:bg-mint-700 font-medium">Create Recipe
            </button>
        </div>
    </form>
</div>

<script>
    function addIngredient() {
        const container = document.getElementById('ingredients-container');
        const newIngredient = document.createElement('div');
        newIngredient.className = 'flex flex-wrap gap-2 items-center border-double border-4';
        newIngredient.innerHTML = `
            <input type="text" name="ingredient_name[]" required placeholder="Ingredient name (e.g., Flour)"
                class="flex-1 rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
            <input type="text" name="ingredient_quantity[]" required placeholder="Quantity (e.g., 2)"
                class="flex-1 rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
            <input type="text" name="ingredient_metric[]" required placeholder="Metric (e.g., cups)"
                class="flex-1 rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
            <button type="button" class="text-red-500 px-4 py-2 hover:text-red-700 ml-2"
                onclick="this.parentElement.remove()">
                &times;
            </button>
        `;
        container.appendChild(newIngredient);
    }

    function addInstruction() {
        const container = document.getElementById('instructions-container');
        const stepCount = container.children.length + 1;
        const newStep = document.createElement('div');
        newStep.className = 'flex items-center gap-2';
        newStep.innerHTML = `
            <span class="bg-mint-100 text-mint-700 w-8 h-8 rounded-full flex items-center justify-center font-medium">${stepCount}</span>
            <input type="text" name="instructions[]" required placeholder="e.g., Preheat oven to 350°F"
                class="flex-1 rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-mint-500 focus:border-mint-500 shadow-sm">
            <button type="button" class="text-red-500 hover:text-red-700" onclick="this.parentElement.remove()">&times;</button>
        `;
        container.appendChild(newStep);
    }

     // Preview uploaded image
    document.getElementById('image').addEventListener('change', function(e) {
        const file = e.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const preview = document.createElement('img');
                preview.src = e.target.result;
                preview.className = 'mt-2 rounded-lg max-h-32 mx-auto';
                const container = document.querySelector('label[for="image"]').parentElement;
                const existingPreview = container.querySelector('img');
                if (existingPreview) {
                    existingPreview.remove();
                }
                container.appendChild(preview);
            }
            reader.readAsDataURL(file);
        }
    });

    // Preview uploaded video
    document.getElementById('video').addEventListener('change', function(e) {
        const file = e.target.files[0];
        if (file) {
            const preview = document.createElement('video');
            preview.src = URL.createObjectURL(file);
            preview.className = 'mt-2 rounded-lg max-h-32 mx-auto';
            preview.controls = true;
            const container = document.querySelector('label[for="video"]').parentElement;
            const existingPreview = container.querySelector('video');
            if (existingPreview) {
                existingPreview.remove();
            }
            container.appendChild(preview);
        }
    });

    // Get references to the select and input elements
    const categorySelect = document.getElementById("category");
    const categoryInput = document.getElementById("category-input");

    // Function to toggle the 'required' attribute based on the input field value
    function toggleCategoryRequired() {
        if (categoryInput.value.trim() !== "") {
            // If the input has text, remove the 'required' attribute from the select
            categorySelect.removeAttribute("required");
        } else {
            // If the input is empty, make the select 'required'
            categorySelect.setAttribute("required", "true");
        }
    }

    // Event listener to check the input value whenever it changes
    categoryInput.addEventListener("input", toggleCategoryRequired);

    // Initial check in case the user submits the form with the input pre-filled
    toggleCategoryRequired();
</script>
{% endblock %}
