{% extends 'recipes/base.html' %}

{% block title %} Shopping Lists - Fork Recipes{% endblock %}

{% block header %}Shopping Lists{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto p-6 bg-white rounded-xl shadow-lg">
    <div id="recipe-content">
        <div id="ingredient-list" class="mt-6 space-y-4">
            {% for ingredient in shopping_list.items %}
            <div class="ingredient-item {% if ingredient.is_completed %}  line-through {% endif %} border rounded-xl p-4 bg-white ">
                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-4">
                        <input type="checkbox"
                               class="check-box w-5 h-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
                               onclick="toggleItemStatus(this, {{ ingredient.pk }})"
                               {% if ingredient.is_completed %} checked {% endif %}>
                        <div class="clickable-text flex flex-col cursor-pointer" onclick="toggleItemStatus(this.previousElementSibling, {{ ingredient.pk }})">
                            <span class="ingredient-name text-lg font-medium text-gray-700  {% if ingredient.is_completed %}line-through{% endif %}">
                                {% if ingredient.times > 1 %} (x{{ ingredient.times }}) {% endif %} {{ ingredient.name }}
                            </span>
                            <span class="ingredient-quantity text-sm text-gray-500 {% if ingredient.is_completed %}line-through{% endif %}">
                                {{ ingredient.quantity }} {{ ingredient.metric }}
                            </span>
                        </div>
                    </div>
                    <div class="flex space-x-2">
                        <button class="edit-btn text-blue-600 hover:underline text-mint-700 hover:text-mint-800"
                                onclick="editIngredient(this)">Edit
                        </button>
                        <a href="javascript:void(0);" class="delete-btn text-black hover:text-gray-500"
                           onclick="openDeleteModal({{ shopping_list.pk }}, {{ ingredient.pk }})">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                            </svg>
                        </a>

                    </div>
                </div>
                <div class="edit-section hidden mt-2">
                    <form method="POST" action="{% url 'shopping:update_item' item_pk=ingredient.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="list_pk" value="{{ shopping_list.pk }}">
                        <label class="block text-sm font-medium text-gray-800">Name</label>
                        <input name="name" type="text" class="w-full p-2 border rounded-md focus:ring-blue-500"
                               placeholder="eg. Milk" value="{{ ingredient.name }}">
                        <label class="block text-sm font-medium text-gray-800">Quantity</label>
                        <input name="quantity" type="text" class="w-full p-2 mt-2 border rounded-md focus:ring-blue-500"
                               placeholder="eg. 100" value="{{ ingredient.quantity }}">
                        <label class="block text-sm font-medium text-gray-800">Metrics</label>
                        <input name="metric" type="text" class="w-full p-2 mt-2 border rounded-md focus:ring-blue-500"
                               placeholder="eg. ml" value="{{ ingredient.metric }}">
                        {% if ingredient.times > 1 %}
                        <label class="block text-sm font-medium text-gray-800">Times</label>
                        <input name="times" type="text" class="w-full p-2 mt-2 border rounded-md focus:ring-blue-500"
                               placeholder="eg. ml" value="{{ ingredient.times }}">
                        {% endif %}
                        <button type="submit"
                                class="save-btn w-full mt-2 p-2 bg-mint-600 text-white rounded-md hover:bg-mint-500"
                        >Save
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Recipe Card -->

        {% for recipe in recipes %}
        <div class="mt-6 p-4 border rounded-lg bg-white shadow">
            <div class="flex items-center space-x-4">
                <img class="h-12 w-12 flex-none rounded-full bg-gray-50"
                     src="{{ recipe.image }}"
                     alt="Recipe Image">
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-semibold text-gray-900">{{ recipe.name }}</p>
                    <p class="mt-1 text-xs text-gray-500">{{ recipe.description }}</p>
                </div>
            </div>
            <div class="mt-4 flex justify-end">
                <a href="{% url 'recipes:recipe_detail' recipe_pk=recipe.pk %}"
                   class="text-mint-600 hover:underline text-sm">View Recipe</a>
            </div>
        </div>
        {% endfor %}

        <!-- Buttons -->
        <div class="flex flex justify-between w-full flex-col sm:flex-row sm:justify-between gap-4 mt-6">
            <button id="add-ingredient"
                    class=" sm:w-auto px-6 py-3 bg-mint-600 text-white rounded-md hover:bg-mint-700"
                    onclick="addIngredient()">Add New Ingredient
            </button>
            <a id="mark-complete"
               class="sm:w-auto px-6 py-3 bg-red-600 text-white rounded-md hover:bg-red-500"
               href="{% url 'shopping:complete_list' list_pk=shopping_list.pk %}">{% if shopping_list.is_completed  %}
                Mark as Un-Complete {% else %} Mark as Complete {% endif %}
            </a>
        </div>


    </div>
</div>

<!-- Modal for Confirming Item Deletion -->
<div id="delete-modal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-lg max-w-sm mx-auto">
        <h3 class="text-lg font-medium text-gray-900 mb-4">Confirm Item Deletion</h3>
        <p class="text-sm text-gray-500 mb-4">
            Are you sure you want to delete this item from your shopping list? This action cannot be undone.
        </p>
        <form id="delete-form" method="POST" action="{% url 'shopping:remove_item' list_pk=0 item_pk=0 %}"
              class="space-x-4">
            {% csrf_token %}
            <button type="submit"
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                Yes, Delete Item
            </button>
            <button type="button" onclick="closeDeleteModal()"
                    class="inline-flex justify-center py-2 px-4 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Cancel
            </button>
        </form>
    </div>
</div>


{% if messages %}
<div class="fixed bottom-4 right-4">
    {% for message in messages %}
    <div class="bg-white shadow-lg rounded-lg px-4 py-3 {% if message.tags %}{{ message.tags }}{% endif %} mb-2">
        <p class="text-sm">{{ message }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
<script>
    function toggleRecipeContent() {
        document.getElementById('recipe-content').classList.toggle('hidden');
    }

    function toggleStrikeThrough(checkbox) {
        const ingredientItem = checkbox.closest('.ingredient-item');
        const ingredientName = ingredientItem.querySelector('.ingredient-name');
        const ingredientQuantity = ingredientItem.querySelector('.ingredient-quantity');
        if (checkbox.checked) {
            ingredientName.classList.add('line-through');
            ingredientQuantity.classList.add('line-through');
        } else {
            ingredientName.classList.remove('line-through');
            ingredientQuantity.classList.remove('line-through');
        }
    }

    function editIngredient(button) {
            const editSection = button.closest('.ingredient-item').querySelector('.edit-section');
            editSection.classList.toggle('hidden');
        }

    function toggleCheckbox(textElement, item_pk) {
        const checkbox = textElement.closest('.ingredient-item').querySelector('.check-box');
        checkbox.checked = !checkbox.checked;
        toggleStrikeThrough(checkbox);
        completeItem(item_pk);
    }


    function addIngredient() {
        const ingredientList = document.getElementById('ingredient-list');
        const newIngredient = document.createElement('div');
        newIngredient.classList.add('ingredient-item', 'border', 'rounded-xl', 'p-4', 'bg-white');
        newIngredient.innerHTML = `
            <div class="flex items-center justify-between">
                <div class="flex items-center space-x-4">
                    <input type="checkbox" class="check-box w-5 h-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500" onchange="toggleStrikeThrough(this)">
                    <div class="clickable-text flex flex-col cursor-pointer" onclick="toggleCheckbox(this)">
                        <span class="ingredient-name text-lg font-medium text-gray-700">New Ingredient</span>
                        <span class="ingredient-quantity text-sm text-gray-500">0g</span>
                    </div>
                </div>
                <div class="flex space-x-2">
                    <button class="edit-btn text-blue-600 hover:underline" onclick="editIngredient(this)">Edit</button>
                    <button class="delete-btn text-black hover:text-gray-500" onclick="deleteIngredient(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="edit-section mt-2">
             <form method="POST" action="{% url 'shopping:add_item' list_pk=shopping_list.pk %}">
                        {% csrf_token %}
                <label class="block text-sm font-medium text-gray-800">Name</label>
                        <input name="name" type="text" class="w-full p-2 border rounded-md focus:ring-blue-500"
                               placeholder="eg. Milk" value="{{ ingredient.name }}">
                        <label class="block text-sm font-medium text-gray-800">Quantity</label>
                        <input name="quantity" type="text" class="w-full p-2 mt-2 border rounded-md focus:ring-blue-500"
                               placeholder="eg. 100" value="{{ ingredient.quantity }}">
                        <label class="block text-sm font-medium text-gray-800">Metrics</label>
                        <input name="metric" type="text" class="w-full p-2 mt-2 border rounded-md focus:ring-blue-500"
                               placeholder="eg. ml" value="{{ ingredient.metric }}">
                <button type="submit" class="save-btn w-full mt-2 p-2 bg-mint-600 text-white rounded-md hover:bg-mint-500">Save</button>
                </form>
            </div>
        `;
        ingredientList.appendChild(newIngredient);
    }

    function markComplete() {
        document.querySelectorAll('.check-box').forEach(checkbox => {
            checkbox.checked = true;
            checkbox.closest('.ingredient-item').querySelector('.ingredient-name').classList.add('line-through');
            checkbox.closest('.ingredient-item').querySelector('.ingredient-quantity').classList.add('line-through');
        });
    }

    function completeItem(item_pk) {
        const url = `/shopping/complete/${item_pk}/`;
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                "action": "complete"
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log("Success:", data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
    async function toggleItemStatus(checkbox, itemPk) {
        // Get the elements
        const ingredientItem = checkbox.closest('.ingredient-item');
        const ingredientName = ingredientItem.querySelector('.ingredient-name');
        const ingredientQuantity = ingredientItem.querySelector('.ingredient-quantity');
        
        // If this was triggered by clicking the text, toggle the checkbox
        if (!event.target.matches('input[type="checkbox"]')) {
            checkbox.checked = !checkbox.checked;
        }

        // Store the original state to revert if needed
        const wasChecked = checkbox.checked;

        try {
            const response = await fetch(`/shopping/complete/${itemPk}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    is_completed: checkbox.checked
                })
            });

            if (!response.ok) {
                throw new Error('Failed to update item status');
            }

            // Only update the UI after successful API call
            if (checkbox.checked) {
                ingredientName.classList.add('line-through');
                ingredientQuantity.classList.add('line-through');
            } else {
                ingredientName.classList.remove('line-through');
                ingredientQuantity.classList.remove('line-through');
            }

        } catch (error) {
            console.error('Error:', error);
            // Revert checkbox state on error
            checkbox.checked = !wasChecked;
        }
    }

    function openDeleteModal(listPk, itemPk) {
        const form = document.getElementById('delete-form');
        const deleteUrl = "{% url 'shopping:remove_item' list_pk=0 item_pk=1 %}";
        const actionUrl = deleteUrl.replace('0', listPk).replace('1', itemPk);

        form.action = actionUrl;

        document.getElementById('delete-modal').classList.remove('hidden');
    }

    function closeDeleteModal() {
        document.getElementById('delete-modal').classList.add('hidden');
    }
</script>


{% endblock %}